include README.md
include requirements.txt
include *.py
include rtdp
include cylc/**/*
recursive-include cylc *.j2
recursive-include cylc *.yml
recursive-include cylc *.yaml
recursive-include cylc *.md
recursive-include cylc *.txt 