# Python cache files
__pycache__
.DS_Store

# Java Binary files
*.class

# graphviz flowchart files
*.gv
*.pdf

# logfiles
*.log

# built files
build
*.build

# IDE files
.idea
SRO-RTDP.iml

# Singularity binary files
*.sif

# Prometheus data
prom-data*

# SQLite3 DB files
*.db
