# Python files
__pycache__
.DS_Store
.venv/
env/
venv/
*.pyc
*.pyo
*.pyd
*.pdb
# Java Binary files
*.class
*.jar
output/
*.pcap
*.log

# built files
build
*.build

# insatll files
bin

# IDE files
.idea
SRO-RTDP.iml
.vscode

# Singularity binary files
*.sif

# Prometheus, InfluxDB & Grafana runtime data
prom-data/
influxdb-data/
influxdb-config/
grafana-data/

# Add output directory with large binary files
output/
